body{
    margin: 0;
    background: #1c1c1c;
}
.log_div {
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(-51deg, #000000, #404040);
    
}


.log {
    width: 585px;
    height: 555px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 12.2%;
    border-radius: 18px;
    background: #181818;
    color: white;
}
img.login_img {
    width: 321px;
    border-radius: 25px;
}

form {/* width: 597px; */}

.input_div {display: flex;flex-direction: row;justify-content: center;align-items: center;}

input.log_input {
    width: 190px;
    height: 33px;
    margin: 10px 0px 0 21px;
    border-radius: 16px;
    border: 1px solid #bdb6b6;
}
label.log_lable {
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 11px;
    /* display: flex; */
    /* justify-content: center; */
}
input.log_input.email {
    margin-left: 47px;
}

.login_btn {
    height: 35px;
    text-align: center;
    width: 135px;
    border-radius: 10px;
    border: none;
    margin-top: 14px;
    background: linear-gradient(45deg, #df59c7, #7d87ff);
    margin-bottom: 8px;
}
input.update_btn {
    top: right;
    height: 35px;
    text-align: center;
    width: 135px;
    border-radius: 10px;
    border: none;
    margin-top: 14px;
    /* background: linear-gradient(to right, #00ff08, #00ff14, #31f300,#31f300,#5cf947); */
    background: linear-gradient(to right, #00a00d, #00a00d, #00a00d,#00a00d,#00a00d);
    margin-bottom: 8px;
    cursor: pointer;
    font: small-caps bold 18px/1 sans-serif;
    color: white;

}
input.update_btn:hover {
    /* background-color: #000000; */
    background: linear-gradient(to right, #006308, #006308, #006308,#006308,#006308);
    animation-play-state: running; 
}
.submit {
    text-align: center;
}
img.login_img.reg {
    height: 300px;
    /* width: 420px; */
}
.error_message {
    font-weight: 900;
    color: red;
    text-align: center;
    background-color: #e9bbbb;
    padding: 7px;
}
.suces_message{
    font-weight: 900;
    color: rgb(247, 247, 247);
    text-align: center;
    background-color: #15ef44b3;
    padding: 7px;
}
.sucess_message {
    padding: 11px;
    color: white;
    width: 1272px;
    text-align: center;
    background: forestgreen;
    height: 18px;
}
.warning_message {
    padding: 11px;
    color: white;
    width: 1272px;
    text-align: center;
    background: rgb(255, 166, 0);
    height: 18px;
}
span.error_msg {
    color: red;
    margin-top: 10px;
    margin-left: 7px;
    font-weight: bold;
}


.log_reg {
   
    margin-top: 173px;
    padding: 62px;
   
}


a.abtn {
    padding: 28px;
    text-decoration: none;
    color: black;
    background: #615f62;
    border-radius: 9px;
    text-transform: capitalize;
    margin: 21px;
}

a.abtn:hover{
    background-color: rgb(0, 255, 0);
}
.big_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #464646;
}

.acount_info {
    background: dimgray;
    color: white;
    margin-right: 19px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 45px;
    border: 2px solid #3e3c3c;
}
.left_pro_part {
    display: flex;
}
.profile_head {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.usr_info {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.p_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span.pro_equa{
    color: aqua;
}
span.Contain {
    font-size: 33px;
    font-weight: bold;
}
img.user_p {
    width: 42px;
    height: 40px;
    background: white;
    padding: 1px;
    margin-right: 9px;
}

span.username {
    text-transform: capitalize;
    font-weight: bold;
    margin: pad;
}

span.email {
    font-size: 14px;
}


.modifie_btn {
    display: flex;
}

.option_div {
    display: flex;
    justify-content: space-between;
    background-color: #323232;
}

a.create_btn {
    background: #404040;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin: 3px 8px;
}
a.create_btn:hover {
    background: #242323;
}
a.create_btn.c_color:hover {
    background: #003cab;
    animation: 2s;
}
a.create_btn.logout_color:hover {
    background: #c50606;
    transition: 0.3s;
}
button.btn.up.rb:hover {
    border: 1px solid orange;

}
button.btn.cancel.db:hover {
    border: 1px solid red;
}
img.basket {
    width: 29px;
    background : red;
    border-radius:20px;
    color: white;
    margin-top: 11px;
    margin-left: 9px;
}
img.basket:hover {
    -webkit-filter: drop-shadow(0px -1px 7px rgba(251,20,0,5.5));
}
.action_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.create {display: contents;}

.help {
    display: flex;
}

a.create {
    /* background-color: blue; */
}

a.help {
    border-radius: 30px;
}
a.c_color {
    background-color: #3d4bf5;
}
header {
    background: #121212ed;
    display: flex;
    flex-direction: row-reverse;
   
}
table {
    border-collapse: collapse;
    background-color: #2c2727;
    color: white;
    min-width: -webkit-fill-available;
    text-align: center;
}

tr.h {
    background: #1a1818;
    height: 40px;
    text-transform: capitalize;
}
table, th, td {
    border: 1px solid rgb(32, 30, 30);
    border-collapse: collapse;
    padding: 12px;
  }
.img_logo {
    width : 460px;
}
input.input_search {
    width: 500px;
    height: 29px;
    background: black;
    color: blanchedalmond;
    animation-delay: 14s;
}
input.create_input {
    color: black;
    font-size: 14px;
    padding: 5px;
    width: 250px;
}
input.edit_btn {
    background: lawngreen;
    margin: 0;
}
input.user_input {
    height: 23px;
    width: 228px;
    /* width: 45vw; */
    /* height: 30px; */
    /* padding: 3px; */
    font-size: 14px;
    /* border: 1px solid gray; */
    font-family: monospace;
}

img.eyeimg {
    background: aliceblue;
    border-radius: 14px;
} 
img.copy {
    width: 16px;
}  

.user_ac {
    width: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
img.dropDOwn {
    /* background: #7a7979;
    border-radius: 14px; */
    width: 20px;
}
header.index_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
}

.index_logo {
    width: 383px;
}
a.getstart{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: large;
        width: 132px;
        background: #1515ff;
        padding: 20px;
        display: flex;
        margin: 5px 5px 0px 0px;
        justify-content: center;
        cursor: pointer;
        border-radius: 9px;
        border: 1px solid gray;
}
.getstart_rigth {
    display: flex;
    flex-direction: row-reverse;
}

a.getstart.about {
    background: #404040;
    border: 1px solid #0000ff61;
}

a.getstart.about:hover {
    border: 1px solid blue;
    background: #262525;
    color: #fffdfd;
    transition: 0.5s;
}
a.getstart:hover{
    background: #002f86;
    border: 1px solid rgb(6, 164, 255);
    background: #262525;
    transition: 0.5s;

}




.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 280px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 147px;
    right: 20px;
    z-index: 0;
    top: 95px;
    border-radius: 3px 0px 9px 9px;
    width: 302px;

  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    border: 3px solid #00ffff94;
    background-color: #222020;

}
img.logo_png {
    width: 13px;
}
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 92%;
    padding: 13px;
    margin: 0px 0 0px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #404040;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border: 1px solid rgb(37, 39, 37);
  }
  h4 {
    margin-bottom: 10px;
}
button.btn.up {
    margin-top: 11px;
}
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    background-color: #111211;
    transition: 0.5s;
    border: 1px solid lime;
  }

  .img_p {
    display: contents;
}

.logo_idintify {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
}

img.main_logo {
    margin-top: 70px;
}
.index_content {
    padding: 20px;
}

span.text {
    color: white;
    font-size: 43px;
}

span.text2 {
    color: white;
    font-size: 20px;
    margin-top: 15px;
    font-family: monospace;
}
.secound_part {
    display: flex;
    margin-bottom: 111px;
    justify-content: space-between;
}
.secound_part.third {
    display: flex;
    flex-direction: row-reverse;
}
.paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    text-align: center;
    font-size: 29px;
    width: 500px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 255px;
}
img.index_img {
    width: 500px;
    /* height: 521px; */
    margin-right: 50px;
    margin-left: 40px;
}
img.peshawa {
    width: 280px;
}

td.lr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer{
    background-color: #0a0a0a;
    color: white;
}

img.footer_img {
    width: 332px;
}

.main_foot {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 19px;
}

.foot_img {
}

.foot_info {
    width: 426px;
}

.miidle {
    display: flex;
    flex-direction: column;
    align-items: center;

} */


.foot_fotter {
    display: flex;
    justify-content: center;
    /* background: radial-gradient(black, #32242400); */
    padding: 27px;
}


/* .paragraph.first {
    border: 2px solid red;
    box-shadow: 0px 0px 38px 16px #ff1616;
}

.paragraph.test {
    border: 2px solid #3fff00;
    box-shadow: 0px 0px 38px 16px #00ff4e;
}

.paragraph.test2 {
    border: 2px solid #4845ff;
    box-shadow: 0px 0px 38px 16px #00dcff;
}  */





/* Fotter test */
