body{
    margin: 0;
    background: #1c1c1c;
}
.log_div {
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(-51deg, #260df5b8, #de00f9);
    
}


.log {
    width: 585px;
    height: 555px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 12.2%;
    border-radius: 18px;
    background: white;
}
img.login_img {width: 321px;}

form {/* width: 597px; */}

.input_div {display: flex;flex-direction: row;justify-content: center;align-items: center;}

input.log_input {
    width: 190px;
    height: 33px;
    margin: 10px 0px 0 21px;
    border-radius: 16px;
    border: 1px solid #bdb6b6;
}
label.log_lable {
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 11px;
    /* display: flex; */
    /* justify-content: center; */
}
input.log_input.email {
    margin-left: 47px;
}

input[type="submit"] {
    height: 35px;
    text-align: center;
    width: 135px;
    border-radius: 10px;
    border: none;
    margin-top: 14px;
    background: linear-gradient(45deg, #df59c7, #7d87ff);
    margin-bottom: 8px;
}
.submit {
    text-align: center;
}
img.login_img.reg {
    height: 300px;
    /* width: 420px; */
}
.error_message {
    font-weight: 900;
    color: red;
    text-align: center;
    background-color: #e9bbbb;
    padding: 7px;
}
.sucess_message {
    padding: 11px;
    color: white;
    width: 1272px;
    text-align: center;
    background: forestgreen;
    height: 18px;
}



.log_reg {
   
    margin-top: 173px;
    padding: 62px;
   
}


a.abtn {
    padding: 28px;
    text-decoration: none;
    color: black;
    background: #615f62;
    border-radius: 9px;
    text-transform: capitalize;
    margin: 21px;
}

a.abtn:hover{
    background-color: rgb(0, 255, 0);
}
.big_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #464646;
}

.acount_info {
    background: dimgray;
    color: white;
    margin-right: 19px;
    display: flex;
    width: 300px;
    height: 45px;
    border: 2px solid #3e3c3c;
}
img.user_p {
    width: 42px;
    height: 40px;
    background: white;
    padding: 1px;
    margin-right: 9px;
}

span.username {
    text-transform: capitalize;
    font-weight: bold;
    margin: pad;
}

span.email {
    font-size: 14px;
}


.modifie_btn {
    display: flex;
}

.option_div {
    display: flex;
    justify-content: space-between;
    background-color: #323232;
}

a.create_btn {
    background: #404040;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin: 3px 8px;
}

.create {display: contents;}

.help {
    display: flex;
}

a.create {
    /* background-color: blue; */
}

a.help {
    border-radius: 30px;
}
a.c_color {
    background-color: #3d4bf5;
}
header {
    background: #121212ed;
    display: flex;
    flex-direction: row-reverse;
   
}
table {
    border-collapse: collapse;
    background-color: #2c2727;
    color: white;
    min-width: -webkit-fill-available;
    text-align: center;
}

tr.h {
    background: #1a1818;
    height: 40px;
    text-transform: capitalize;
}
table, th, td {
    border: 1px solid rgb(32, 30, 30);
    border-collapse: collapse;
    padding: 12px;
  }
.img_logo {
    width : 460px;
}
input.input_search {
    width: 500px;
    height: 29px;
    background: black;
    color: blanchedalmond;
    animation-delay: 14s;
}
input.create_input {
    color: black;
    font-size: 14px;
    padding: 5px;
    width: 250px;
}
input.edit_btn {
    background: lawngreen;
    margin: 0;
}